
html {

    height: 100%;

}
body {
    font: 13px/20px 'Roboto', Arial, sans-serif;
    #background: #414d0b; /* fallback for old browsers */
    #background: -webkit-linear-gradient(to right, #414d0b, #727a17); /* Chrome 10-25, Safari 5.1-6 */
    #background: linear-gradient(to right, #414d0b, #727a17); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: white;
    #background-image: url('/cb6ed7a4.png');
    #background: #ffba3b;

    #-webkit-background-size: cover;
    #-moz-background-size: cover;
    #-o-background-size: cover;
    #background-size: cover;
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    line-height: 1.5;
    font-size: 13px;
}

form {
    outline: 0;
    #float: left;
    #-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    #box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

form > .textbox {
    #outline: 0;
    height: 42px;
    /* width: 244px; */
    line-height: 42px;
    width: 100%;
    padding: 0 16px;
    #background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    #border: 0;
    /* float: left; */
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}

form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
}

form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

form > .button:hover {
    background-color: rgba(0, 150, 136, 0.8);
}
.content {

    clear: both;

}
for_slider {
    margin-bottom: 60px;
}
.for_slider a {

    #outline: none;
    color: black;
    text-decoration: none;
    font-weight: bold;

}
.container.cat {

    width: 100%;
}
.container.cat:hover {

    background: url('/images/cat_arrow_right.jpg') 98% 42% no-repeat white;
    background-size: 5%;
    box-shadow: inset 0 0 1px 3px #8cd21d;
    #border-radius: 30px;
}
.list-cat-info {

    float: left;
    margin-left: 20px;
    color: grey;
    width: 75%;
}
.container.cat .place_stats {

    position: static;
    margin-left: auto;
    left: auto;
    width: auto;
    text-align: left;
}
.container.cat .c_img img {

    width: 150px;
}
.container.cat .c_name {

    font-size: 16pt;
    font-weight: bold;
    #padding-left: 20px;
    #float: left;
    color: black;
}
.container.cat > a {

    color: black;
    text-decoration: none;
}
.container.cat .c_img {

    float: left;
    margin-left: 10px;
}
.container.cat .c_img img {

    transform: none;
}
.logout_button {

    margin-top: 10px;
}
.search_form {

    display: block;
    margin: auto;
    width: 30%;
    margin-top: 15px;
    position: relative;
}
.user_info {

    margin-bottom: 10px;
}
.cart .checkmark {

    background: #d5d4d4;
}
div.logo img {

    width: 244px;
    /* margin-bottom: 20px; */
    margin: 10px auto;
    display: block;

}
.content {

    width: 80%;
    margin: 20px auto;
    margin-top: 15px;
    text-align: center;
    display: flex;
    #flex-wrap: wrap;
    #flex-flow: wrap;
}
div.container {

    display: block;
    background: white;
    padding: 10px;
    border-radius: 10px;
    float: left;
    width: 32.33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: left;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px -1px #000;
    -moz-box-shadow: 0px 0px 10px -1px #000;
    box-shadow: 0px 0px 10px -1px #000;
    #box-shadow: inset 0 0 100px 1px #bfff42;
    box-sizing: border-box;
    #display: none;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

}
.add-to-cart {

    width: 100%;
   #height: 40px;


}
.container .c_price {

    #position: absolute;
    #top: 10px;
    #right: 20px;
    font-size: 14pt;
    #float: right;

}
.container .c_name {

    font-size: 12pt;
    #float: left;
}
.container .c_name, .container .c_price {


}
.container .c_img {

    margin-top: 5px;
    #margin-bottom: 5px;
    #border: 1px solid #a7d225;
    position: relative;

}
.container .c_img img{

    width: 100%;

}
.clear {

    clear: both;

}
.filters {

    margin-top: 10px;
    #color: white;
    #width: 50%;
    margin: 10px auto;
    margin-bottom: 0;
    text-align: left;
    #display: none;
    #background: silver;
}
.filters input {

    vertical-align: middle;

}
.filters span {

    margin-right: 15px;

}
.cart {

    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0;
    #border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    overflow-y: scroll;
    max-height: 800px;
    z-index: 600;
}
.c_n_p {

    background: url(/images/wave_line.png) 0 100% no-repeat;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
.myButton:active {
    position:relative;
    top:1px;
}
.clear-cart {

    background: linear-gradient(to bottom, #e2c223 5%, #bfa62d 100%);
    border: 1px solid #e4c320;
}
.clear-cart:hover {

    background: linear-gradient(to bottom, #e2c223 5%, #bfa62d 100%);

}
.rcontainer {
    #display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

/* Hide the browser's default checkbox */
.rcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 3px;
    height: 25px;
    width: 25px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.rcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.rcontainer input:checked ~ .checkmark {
    background-color: #fe7445;
}

/* Create the checkmark/indicator (hidden when not checked) */
.rcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.rcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.rcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header {

    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    #background: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    #position: relative;
    color: white;
    z-index: 500;
}
.header .rcontainer {

    color: white;
}
.phone_h {

    #position: absolute;
    font-size: 22px;
    width: 300px;
    right: 0;
    top: 25px;
    text-align: left;
    display: block;
    margin: auto;
}
.totalSum {

    margin-bottom: 15px;

}
a.cart-plus-item {

    text-decoration: none;
    color: green;
    font-size: 24pt;

}
a.cart-minus-item {

    text-decoration: none;
    color: red;
    font-size: 24pt;

}
a.cart-delete-item {

    text-decoration: none;
    color: red;
    font-size: 20pt;
}
a.cart-plus-item,
a.cart-minus-item,
a.cart-delete-item {

    font-size: 30pt;
    vertical-align: middle;
    display: inline-block;
    #float: left;
    height: 30px;
    line-height: 23px;
}
.hide-cart-button {

    position: absolute;
    right: 15px;
    top: 10px;


}
.cart_icon_c {

    position: fixed;
    right: 45px;
    top: 50%;
    animation: shake 1.82s infinite cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    z-index: 200;
    cursor: pointer;
}
.cart_icon {


    width: 100px;
    #display: none;
}
.cart_icon_c:before {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(223,63,251,0);
    -webkit-animation: line 5s linear;
    animation: line 5s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
@-webkit-keyframes circle {
    0%,
    100% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 0 rgba(80, 173, 1, .25)
    }
    25%,
    75% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 10px rgba(80, 173, 1, .25)
    }
    50% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 20px rgba(80, 173, 1, .5)
    }
}

@keyframes circle {
    0%,
    100% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 0 rgba(80, 173, 1, .25)
    }
    25%,
    75% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 10px rgba(80, 173, 1, .25)
    }
    50% {
        box-shadow: 0 0 1px 1px #50ad01, 0 0 0 20px rgba(80, 173, 1, .5)
    }
}
.hide-cart-button img,
.back-cart-button img{

    width: 50px;
}
.cart_icon_c {

    z-index: 1;
    #top: 0;
    #right: 0;
    #cursor: pointer;
    #display: block;
    #width: 4rem;
    #height: 4rem;
    #color: #fff;
    #font-size: 34px;
    #line-height: 1;
    #border: 0;
    border-radius: 50%;
    #outline: 0;
    background: #df3ffb;
    -webkit-animation: circle 3s linear infinite, circle 2s linear infinite;
    animation: circle 3s linear infinite, circle 2s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    content: 't';
}
.c_img {

    overflow: hidden;
}
.c_img img {

    transition: all 0.3s;
}
.cart_icon:hover, .c_img img:hover {

    #opacity: 0.7;
    #-moz-opacity: 0.7;
    #-webkit-opacity: 0.7;
    transform: scale(1.5);
}
.cart input[type=radio] {

    vertical-align: middle;
}
p {

    margin-top: 1em;

}
.container .product_cat_logo img {

    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    border-radius: 0 0 20px 0;
    box-shadow: 0 0 50px 1px white;
}
.place_info {

    background: rgb(251, 113, 67, 0.9);
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: white;
    position: relative;
    min-height: 240px;
    padding-top: 10px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 200%;
    left: -50%;
}
.place_logo {

    position: absolute;
    right: 40px;
    top: 40px;
}
@-moz-keyframes spin_place_logo { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_place_logo { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_place_logo { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.place_logo:hover {

    #-webkit-transform: rotateX(150deg); /* Safari */
    #transform: rotateX(150deg);
    -webkit-animation: spin_place_logo 4s linear infinite;
    -moz-animation: spin_place_logo 4s linear infinite;
    animation: spin_place_logo 4s linear infinite;

}
.place_logo img {

    width: 150px;
    #border: 5px solid #50ac02;
    #border-radius: 80px;
    #-moz-border-radius: 80px;
    #-webkit-border-radius: 80px;
    box-shadow: 0 0 50px 1px #eceaeb;
    -moz-box-shadow: 0 0 50px 1px #eceaeb;
    -webkit-box-shadow: 0 0 50px 1px #eceaeb;
}
.cat .myButton {

    width: 100%;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
}
@-webkit-keyframes line {
    0%,
    100% {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 2px rgba(223, 63, 251, 0)
    }
    20%,
    40% {
        top: -1.5625rem;
        left: -1.5625rem;
        right: -1.5625rem;
        bottom: -1.5625rem;
        box-shadow: 0 0 0 2px #50ad01
    }
    30% {
        top: -2.1875rem;
        left: -2.1875rem;
        right: -2.1875rem;
        bottom: -2.1875rem;
        box-shadow: 0 0 0 2px #50ad01
    }
    70% {
        top: -3.125rem;
        left: -3.125rem;
        right: -3.125rem;
        bottom: -3.125rem;
        box-shadow: 0 0 0 2px rgba(223, 63, 251, 0)
    }
}

@keyframes line {
    0%,
    100% {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 0 0 2px rgba(223, 63, 251, 0)
    }
    20%,
    40% {
        top: -1.5625rem;
        left: -1.5625rem;
        right: -1.5625rem;
        bottom: -1.5625rem;
        box-shadow: 0 0 0 2px #50ad01
    }
    30% {
        top: -2.1875rem;
        left: -2.1875rem;
        right: -2.1875rem;
        bottom: -2.1875rem;
        box-shadow: 0 0 0 2px #50ad01
    }
    70% {
        top: -3.125rem;
        left: -3.125rem;
        right: -3.125rem;
        bottom: -3.125rem;
        box-shadow: 0 0 0 2px rgba(223, 63, 251, 0)
    }
}

div.stats_minsum:before {

    content: "\f0d6";
    font-size: 20pt;
    vertical-align: middle;
    margin-right: 10px;
    font-family: FontAwesome;
}
div.stats_deliverysum:before {

    content: "\f0d1";
    font-size: 20pt;
    vertical-align: middle;
    margin-right: 10px;
    font-family: FontAwesome;
}
div.stats_deliverytime:before {

    content: "\f017";
    font-size: 20pt;
    vertical-align: middle;
    margin-right: 10px;
    font-family: FontAwesome;
}
.place_stats {

    position: absolute;
    left: 50%;
    bottom: 20px;
    text-align: left;
    font-size: 12pt;
    width: 1000px;
    margin-left: -500px;
    text-align: center;
    #height: 80px;

}
.place_stats2 {

    #position: absolute;
    #left: 0;
    #top: 0;
}
.place_stats > div {

    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.category_tab {

    margin-bottom: 20px;

}
.category_tab a {


    color: white;
    display: block;
    background: #fb7143;
    padding: 10px;
    border-radius: 10px;
    font-size: 13pt;
    #float: right;
    box-shadow: 0 0 10px 1px #dcd4d4;
    text-decoration: none;
    display: inline-block;
}
.category_tab a.active, .category_tab a:hover {


    border: 2px solid black;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.main_rows:first-child {

    margin-top: 0;
}
.master_block {

    float: right;
    width: 100%;
}
.master_block .master_block {

    width: 100% !important
}
.main_blocks {

    text-align: center;
}
.main_blocks > div {

    display: inline-block;
    #border: 1px dashed black;
    border-right: 1px dashed black;
    cursor: pointer;
    background: white;
    #border-radius: 50%;
    margin-left: -4px;
}
.main_blocks > div:last-child {

    border-right: none;
}
.main_blocks > div:hover {

    opacity: 0.7;

}
.main_blocks > div > img {

    #width: 250px;
    #border-radius: 50%;
    width: 320px;

}
.main_rows {

    margin-top: 30px;
    width: 80%;
    margin: auto;
}
.slick-slide {

    width: 150px;
}
.main_rows img {

    width: 100%;
    display: block;
    margin: auto;
}
.leftBar {

    float: left;
    #background: white;
    #width: 25%;
    width: 300px;
    box-shadow: 0px 1px 20px 1px black;
    display: none;
    background: white;
    margin-right: 50px;
}

div.t {

    text-align: left;
    background: #ff7242;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.customcheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheckbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.customcheckbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.customcheckbox:hover input[type=checkbox] ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheckbox input[type=checkbox]:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customcheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheckbox input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.food-types-filter {
    #list-style:none;
    #margin-top:10px;
    #float:left;
    #width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    #padding-left: 50px;
}

.food-types-filter li {
    display: block;
    list-style:none;
    margin:10px 0;
    width: 100%;

}



.food-types-filter input[type="checkbox"]:not(old),
.food-types-filter input[type="radio"]:not(old){
    width:24px;
    margin:0;
    padding:0;
    opacity:0;
    cursor:pointer;
    display: none;
}
.food-types-filter input[type="checkbox"]:not(old) + label,
.food-types-filter input[type="radio"]:not(old) + label{
    display:inline-block;
    width: 100%;
    margin:0;
    padding-left:34px;
    background:url(https://test1.eda.kg/template/images/checkboxes_mini.png) no-repeat 0 0;
    line-height:24px;
    cursor:pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.food-types-filter input[type="checkbox"]:not(old):checked + label{
    background-position:0 -24px;
    color:#ff7242;
}

.food-types-filter input[type="radio"]:not(old):checked + label{
    background-position:0 -24px;
    color:#ff7242;
}


.food-types-filter label {
    font-size:16px;
    text-align: left;
}

.eda_sidebar_widget {

    background: white;
}
.eda_sidebar_widget .eda_sidebar_widget_title {
    #border-radius: 4px 0 0 0;
    background: #ff7242;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.4px;
    text-shadow: 0 1px 1px #cc3333;
    text-align: left;
}
.eda_sidebar_widget .eda_sidebar_widget_search {
    padding: 0px 10px 10px 10px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.l_desc {

    margin-top: 10px;
    background: white;
    text-align: left;
}
.l_desc .d {


    padding: 10px;
}
.cat_title {

    margin-bottom: 10px;
}
.innercontent {

    #float: right;
    width: 50%;
    margin: 0 auto;
    #margin-left: 100px;
}
.main_parallax {

    background: url('/images/parallax_bg.jpg') no-repeat;
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 50px 5px #c4a477;
}
div.topgradient {

    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(162,30,223,1) 0%, rgba(162,30,223,0) 0%, rgb(2, 2, 2) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
div.footer {

    min-height: 250px;
    background: #1C1E21;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 0 100px 1px #1C1E21;
}
a.back_call {

    color: #8ab2dd;
}
.bot_links {

    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    padding-top: 20px;
}
.bot_links li {

    #float: left;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.bot_links a {

    color: white;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 1em;
}
.bot_links a:hover {

    color: #fc7041;
}
.add-to-cart {

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}
.add-to-cart:hover {

    color: #d7f308;
}
.dark {

    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    width: 100%;
    height: 100%;
}
.dark .infowin {


    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
}
a.popular_orders {

    right: 0;
    color: white;
    display: block;
    background: #fb7143;
    padding: 10px;
    border-radius: 10px;
    font-size: 13pt;
    float: right;
    box-shadow: 0 0 10px 1px #dcd4d4;
    text-decoration: none;
}
a.popular_orders:hover {

    #color: deepskyblue;
    background: white;
    color: black;
}
.popular_order {

    border: 1px solid black;
    #display: flex;
    #float: left;
    #flex-direction: row;
    width: 49%;
    #flex-wrap: wrap;
    padding: 5px;
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    box-shadow: 0 0 10px 1px grey;
}
.popular_order .scroll_popular_items {

    height: 200px;
    overflow-y: scroll;
    border: 1px solid grey;
    padding: 10px;
}
.popular_ordered_times {

    width: 100%;
}
.popular_button_choose {

    width: 100%;
}
.popular_order .choose-popular {

    display: block;
    #margin: auto;
    width: 100%;
}
.popular_items {

    margin-top: 20px;
}
.popular_order .popular_item {


    float: left;
    width: 49%;
}
.popular_order img {

    width: 100px;
}
@media screen  and (max-width: 1600px) /* Tablet */ {

    .place_logo img {

        width: 150px;
    }

}

@media screen  and (max-width: 1550px) /* Tablet */ {

    .leftBar {

        float: none;
        #width: 100%;
        margin-bottom: 20px;
    }
    .innercontent {

        width: 50%;
    }
    .place_stats {

        bottom: 5px;
    }
    .container .c_name, .container .c_price {

        float: none;
    }
    .place_stats > div {

        font-size: 0.9em;
    }
    div.stats_minsum:before, div.stats_deliverysum:before, div.stats_deliverytime:before {

        font-size: 30pt;
    }
    .main_blocks > div.mb{

        display: block;
        border-bottom: 2px solid black;
    }
    .main_blocks > div.mb > img {

        width: 50%;
    }
    .main_blocks > div.mb:last-child {

        #display: block;
        border-bottom: none;
    }
}
@media screen  and (max-width: 1500px) /* Tablet */ {

    .place_info {

        padding-bottom: 0;
    }
    .place_stats {

        position: static;
        width: auto;
        margin-left: auto;
        margin-top: 10px;
    }
}
@media screen  and (max-width: 1350px) /* Tablet */ {

    .place_stats > div {

        display: block;
    }
    .place_logo {

        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .phone_h {

        position: static;
        width: auto;
        text-align: center;
    }
    div.container {

        #float: none;
        width: 49%;
        #display: inline-block;
    }
    .container .product_cat_logo img {

        width: 50px;
    }
}
@media screen  and (max-width: 1250px) /* Tablet */ {

    .popular_order {

        width: 100%;
    }
    a.cart-plus-item, a.cart-minus-item, a.cart-delete-item {

        vertical-align: middle;
        font-size: 34pt;
    }
}
@media screen  and (max-width: 930px) /* Tablet */ {


}

@media screen  and (max-width: 950px) /* Tablet */ {

    .innercontent {

        width: 100%;
    }
    div.container {

        #float: none;
        width: 49%;
        #display: inline-block;
    }
    .leftBar {

        width: 450px;
    }
    .container .product_cat_logo img {

        width: 70px;
    }
    .content {

        display: block;
    }
    .leftBar {

        width: 100%;
    }

}
@media screen  and (max-width: 800px) {

    .container .product_cat_logo img {

        width: 60px;
    }
}
@media screen  and (max-width: 650px) /* Tablet */ {

    .checkout-cart {

        width: 100%;
        margin-bottom: 20px;
    }
    .clear-cart {

        width: 100%;
    }
    .cart .totalSum {

        font-size: 20pt;

    }

    .container .product_cat_logo img {

        width: 50px;
    }

}
@media screen  and (max-width: 500px) /* Tablet */ {

    .header .rcontainer {

        display: block;
    }
}
@media screen  and (max-width: 430px) /* Tablet */ {


}